{% extends 'cenpilos/mainpage.html' %}

{% block navbar %}
    {% include 'cenpilos/auth/auth_index.html' %}
{% endblock %}

{% load crispy_forms_tags %}
{% block maincontent %}
    <main class="page registration-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info"><strong>We are glad to have you onboard!</strong></h2>
                    <p>Creating an account will be <strong>free </strong>and always will be!&nbsp;</p>
                </div>
                <form class="text-info" method="post">
                    {% csrf_token %}
                    {{ form |crispy }}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
                </form>
            </div>
        </section>
    </main>
{% endblock %}
