{% extends 'cenpilos/mainpage.html' %}

{% block navbar %}
    {% include 'cenpilos/dashboard/components/navbar.html' %}
{% endblock %}

{% block maincontent %}
    <main class="page">
        <section class="clean-block">
            <div class="container-fluid">
                <div class="block-heading">
                    {% if request.user.is_authenticated %}
                        <h1 class="text-primary"><strong>Howdy, {{ request.user.username }}</strong></h1>
                    {% else %}
                        <h1 class="text-primary"><strong>Howdy, Beta Tester</strong></h1>
                    {% endif %}
                </div>
                <div class="block-content">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h4 class="text-primary"><strong>Notification Title</strong></h4>
                                            <p class="text-info">Notification Body</p><span class="text-muted">Notification Post Date</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h4 class="text-primary"><strong>Notification Title</strong></h4>
                                            <p class="text-info">Notification Body</p><span class="text-muted">Notification Post Date</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h4 class="text-primary"><strong>Notification Title</strong></h4>
                                            <p class="text-info">Notification Body</p><span class="text-muted">Notification Post Date</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}