<div id="posts">
    {% if posts %}
        {% for post in posts %}
            <div class="card">
                <div class="card-body">
                    {% if request.user.username == post.author.username %}
                        {% include 'cenpilos/dashboard/components/useroptions.html' %}
                    {% endif %}
                    <h4 class="text-primary card-title">
                        <strong>{{ post.author.username }}</strong>
                    </h4>

                    <h6 class="text-muted card-subtitle mb-2">{{ post.date.date }}</h6>
                    <p class="card-text">{{ post.content }}</p>
                    <div id="like_message">

                    </div>
                    {% csrf_token %}
                    <div class="btn-group btn-group-sm" role="group">

                        {% if request.user in post.likes.all %}

                            <button class="btn btn-danger dislikebutton" type="submit"
                                    name="post_id"
                                    value="{{ post.id }}" id="{{ post.id }}_dislike"><i
                                    class="far fa-thumbs-down"></i><span>Dislike</span>
                            </button>

                        {% else  %}
                            <button class="btn btn-info likebutton" type="submit"
                                    name="post_id" id="{{ post.id }}"
                                    value="{{ post.id }}">
                                <i class="far fa-thumbs-up"></i><span>Like</span>
                            </button>
                        {% endif %}
                        <button class="btn btn-dark" type="button"><i class="fas fa-share-square"></i> Share This</button>

                    </div>


                    <p id="likes" class="text-info" style="float: right">
                        {{ post.total_likes }}
                        {% if post.total_likes == 1 %}
                            like
                        {% else %}
                            likes
                        {% endif %}
                    </p>

                    <hr>
                    <div class="comment_section {{ post.id }}">
                        <form method="post" class="comment-form">
                            {% csrf_token %}
                            <div class="form-group"><textarea class="form-control form-control-sm"
                                                              placeholder="Write your comment"></textarea></div>
                            <div class="form-group"><button class="btn btn-primary btn-sm" type="button"><strong>Post Comment</strong></button></div>
                        </form>
                    </div>
                </div>
                <hr>

            </div>
        {% endfor %}
        </div>
    {% else %}
        {% if user == request.user %}
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title heading-promo"><strong>You have not made any new
                        posts.</strong>
                    </h4>
                    <p class="card-text body-promo"></p>
                    Go ahead and make your first post! You can do it.
                </div>
            </div>
        {% else %}
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title heading-promo"><strong>{{ user.username }} has not made any new
                        posts.</strong>
                    </h4>
                </div>
            </div>
        {% endif %}
    {% endif %}